[2018-11-27 08:42] ChrisChinchilla opened #1 "Plasma MVP"
https://github.com/omisego/plasma-mvp

[2018-11-27 08:44] ChrisChinchilla opened #2 "Plasma MVP Rootchain"
https://github.com/FourthState/plasma-mvp-rootchain

[2018-11-27 08:45] ChrisChinchilla opened #3 "Article comparing Plasma implementations"
Compares #1 and #2

[2018-11-27 08:47] ChrisChinchilla opened #4 "Wolkdb Plasma Cash"
https://github.com/wolkdb/deepblockchains/tree/master/Plasmacash

[2018-11-27 08:47] ChrisChinchilla opened #5 "Omisego Plasma Cash"
https://github.com/omisego/plasma-cash/

[2018-11-27 08:48] ChrisChinchilla opened #6 "Lucidity Plasma Cash"
https://github.com/luciditytech/lucidity-plasma-cash

[2018-11-27 08:48] ChrisChinchilla opened #7 "Comparison of Plasma Cash implementations"
Compares #4, #5 and #6

[2018-11-27 08:49] ChrisChinchilla opened #8 "Kyokan Plasma"
https://github.com/kyokan/plasma

[2018-11-27 08:53] ChrisChinchilla opened #9 "Comparing and state of all Plasma implementations"
Compares #1, #2, #3, #4, #5, #6, #7 and #8

[2019-02-11 13:16] ChrisChinchilla opened #17 "Create a tutorial for using Ethereum with Go"

[2019-02-20 21:10] #17 closed

[2019-02-20 21:10] ChrisChinchilla opened #19 "Create overview of Metamask"

[2019-02-21 00:20] somealtaccounttho commented on #19
Can we get some more information?

[2019-02-25 15:15] owocki commented on #19
@malihawrites go to gitcoin, sign in, and clicks ‘claim tip’ in the nav bar, you'll be able to claim their payment

[2019-03-19 08:50] ChrisChinchilla opened #22 "Create an article explaining crypto collectibles"

[2019-03-19 10:09] #19 closed

[2019-03-19 10:23] ChrisChinchilla opened #23 "Create a beginners guide to ENS"
_This could be part one of a series, but let's start with this first part._

**Word count**: 500-800 words
**Deadline**: 1st April

Create an end-to-end blog post covering how to incorporate ENS into a reasonably real-world Dapp. This should focus on practical code examples and an application that people can take and build while following the tutorial.

The post should use clear technical language

[2019-03-19 10:42] roleengineer commented on #22
Hi, @ChrisChinchilla I noticed the issue on gitcoin and after looking through repo, PRs I guess this bounty is for already done article by @DAppProletariat that describes introduction and ERC721, is it so? I can work on the articles explaining [ERC998](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-998.md) and [ERC1155](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1155.md).

[2019-03-19 13:50] ChrisChinchilla opened #24 "Create a guide to Ethers.js"
**Word count**: 700-900 words
**Deadline**: 1st April

Create an end-to-end blog post covering how to incorporate ethers.js into a realistic web3 application. Can be node.js or browser-based application, but something that people can read, build, and that works (within the confines of the technology).

The post should use clear technical language, reducing passive voice, future tense, weasel words

[2019-03-19 15:28] ChrisChinchilla commented on #24
Sounds good @jacobcreech I'll add you to this repo and create a PR as soon as you can. Feel free to start with an outline and flesh it out form there, so we can have a solid collaborative process. :)

Any questions, ping me on that PR.

[2019-03-19 15:43] ChrisChinchilla commented on #23
Looks good @darrenlangley welcome onboard! Create a PR and feel free to start with a basic outline first and we can discuss and collaborate from there. For this post, let's work on the lookup features, and then maybe if it goes well we can do a second post with the backend topics.

[2019-03-20 00:23] darrenlangley commented on #23
Great @ChrisChinchilla thanks. I should have something by tonight/tomorrow evening.

[2019-03-25 23:27] darrenlangley commented on #23
@gitcoinbot yes I am working on this issue.

[2019-03-26 08:21] ChrisChinchilla opened #30 "Simple TCR guide"
As outlined in this file - https://github.com/kauri-io/Content/blob/master/Outlines/simple-tcr.md

[2019-03-26 08:38] ChrisChinchilla commented on #23
Outline here - https://github.com/kauri-io/Content/pull/27
Main work now in progress.

I didn't realise Gitcoin bot was so pushy!

[2019-03-26 08:58] ChrisChinchilla opened #31 "Create guide to ERC998 composables"
As laid out here - https://github.com/kauri-io/Content/blob/master/Outlines/ERC998.md

[2019-03-28 20:22] aerophile commented on #30
Hey @ChrisChinchilla  Is this available ? If yes I'd like to take it up.

[2019-03-29 17:36] Destiner commented on #30
@ChrisChinchilla I'm thinking about creating a demo of what we gonna code in the tutorial and host it on Github Pages. Sounds good?

Might be a good idea to host it from Kauri's account, don't know whether it matters.

[2019-03-29 17:42] Destiner commented on #30
Also thinking about "Further reading" section at the end. There's so much stuff written and discussed about the topic.

[2019-04-02 02:17] jacob-creech commented on #24
@gitcoinbot I am still working

@chrischinchilla hoping to have everything ready for the first review either tomorrow or the next day. My apologies for the delay.

[2019-04-03 12:06] darrenlangley commented on #23
Hey @ChrisChinchilla - I have updated the PR with review changes.

Let me know what you think.

[2019-04-04 02:31] jacob-creech commented on #24
Still working on it. Cleaning up some of the code, initial codebase, and the article. Will add to PR soon.

[2019-04-04 14:33] ChrisChinchilla commented on #30
Sounds good on both counts @Destiner ! I can create a repo for you to use, or you create it and we fork into the organisation, I don't mind.

[2019-04-05 13:02] #23 closed

[2019-04-06 01:03] darrenlangley commented on #23
@ChrisChinchilla - Nick Johnson (lead dev ENS) has reviewed the article and has given us permission to use the ENS logo. I have published the article on Kauri but I think it is in the approval process...

Hoping you can take it from here :)

Let me know if you need anything else.

[2019-04-08 10:11] ChrisChinchilla commented on #23
@darrenlangley We don't have an approval process on Kauri, maybe the article is still in draft? You can just update the PR and publish yourself, unless you received an error?

[2019-04-09 04:03] darrenlangley commented on #23
@ChrisChinchilla I have tried to publish it 3 times. Each time it says that it has published but when I look at My Articles it is still under draft.

In console it says this but no error:

![Screenshot from 2019-04-09 07-40-27](https://user-images.githubusercontent.com/116034/55772608-388d6a00-5ad0-11e9-883e-11143c6923a1.png)

I am using a Trezor if that helps

[2019-04-09 04:15] darrenlangley commented on #23
@ChrisChinchilla the article is now published. I had to create a new account with a non-Trezor Ethereum account.

https://kauri.io/article/e7f098b57fd24afe9b70506517dd5a63/v1/ens:-beginner's-guide

[2019-04-10 23:30] ChrisChinchilla commented on #23
OK thanks @darrenlangley I'll pass this feedback on, we're working on the account process right now. 👍

[2019-04-12 02:54] ChrisChinchilla opened #37 "Help improve ENS Documentation"
The ENS project has documentation related issues you can find in their docs repository.

https://github.com/ensdomains/docs/issues

[2019-04-12 03:05] ChrisChinchilla opened #38 "Help improve OpenZeppelin documentation"
The OpenZeppelin project has documentation related issues you can find in their docs repository.

https://github.com/OpenZeppelin/openzeppelin-solidity/issues?q=is%3Aopen+is%3Aissue+label%3Adocumentation

[2019-04-15 16:30] jacob-creech commented on #24
@gitcoinbot I am still working on this issue. I am awaiting feedback on my first draft of the article.

[2019-04-18 02:23] ChrisChinchilla opened #39 "Help improve documentation for Plasma Group"
Plasma Group  is an independent non-profit organization that's developing standards for plasma and beyond. Their mono repo [pigi](https://github.com/plasma-group/pigi) needs some documentation help.

## Challenge Description

You can find details on each of the three issues at the link below

https://github.com/plasma-group/pigi/issues/78
https://github.com/plasma-group/pigi/issues/184
https://git

[2019-04-18 02:28] #37 closed

[2019-04-18 12:01] maektwain commented on #9
is this task finished ? Do you want a technical writeup for   all Plasma implementations

[2019-04-18 19:52] nanspro commented on #9
@ChrisChinchilla  is this bounty completed/reserved by/for someone?
If it's open and up for grabs i can start working immediately!!

[2019-04-19 08:56] owans commented on #39
I and @nanspro are working on providing good documentation

[2019-04-23 02:10] #8 closed

[2019-04-23 02:10] #7 closed

[2019-04-23 02:10] #6 closed

[2019-04-23 02:11] #5 closed

[2019-04-23 02:11] #4 closed

[2019-04-23 02:11] #3 closed

[2019-04-23 02:11] #2 closed

[2019-04-23 02:11] #1 closed

[2019-04-23 02:21] ChrisChinchilla commented on #9
OK @cspannos so now over to you to say you've started and completed work.

[2019-04-24 22:46] ChrisChinchilla commented on #24
@gitcoinbot shh!

[2019-04-25 00:06] jacob-creech commented on #24
@ChrisChinchilla Thank you for being so patient with me on getting this article done. I should have buttoned up the code by tomorrow.

[2019-04-26 21:43] jacob-creech commented on #24
Ran into some issues with the codebase. Reconciling them. My apologies for the tardiness

[2019-04-26 21:48] jacob-creech commented on #24
@chrischinchilla One question, the initial codebase was on a different branch, which is why you were unable to see the initial message. Should j separate into different repos, or keep the branching strategy?

[2019-05-01 13:35] nanspro commented on #39
@ChrisChinchilla  link to all of our 3 PR's

- https://github.com/plasma-group/pigi/pull/190
- https://github.com/plasma-group/pigi/pull/189
- https://github.com/plasma-group/pigi/pull/188

[2019-05-01 22:21] rmshea commented on #39
Hey @nanspro and @aerophile, thanks for participating in the hackathon. If you haven't yet, we'd love it if you could fill out this form to document your project name, team members, and link to your submission :rocket: :paintbrush:

Once you fill out the form, there's a prize at the end :wink:

https://forms.gle/uxSnqQDbsNfqrUbD8

[2019-05-07 07:06] ChrisChinchilla commented on #24
@jacobcreech Keep the branches, that has worked well for me in the past.

Chris

[2019-05-09 08:36] ChrisChinchilla opened #40 "Complete EVM internals series"
Complete parts 3 and 4 of the EVM internals series started here - https://www.mayowatudonu.com/blockchain/deep-dive-into-evm-intro

[2019-05-09 10:25] #24 closed

[2019-05-15 12:58] ChrisChinchilla opened #41 "Translate Ethereum 101 part 1 into Russian"
We would like to translate this post - https://kauri.io/article/67a81d8746ee4b49ba19447e8e2a983e/v7/ethereum-101-part-1-what-is-ethereum

into Russian.

[2019-05-15 13:08] ChrisChinchilla opened #42 "Translate dapp full stack remix article into Russian"
We would like this post - https://kauri.io/article/124b7db1d0cf4f47b414f8b13c9d66e2/v8/remix-ide-your-first-smart-contract

translated into Russian.

[2019-05-16 14:37] ChrisChinchilla commented on #42
Sounds good @dodikk I think working in a GitHub fork and PR first is a good idea, we have a few Russian speakers at ConsenSys who said they'd take a look at any submissions too :)

When the translation is finalised, then we'll create a new version on Kauri with you as the author and pay the bounty.

yes, sorry that Solidity docs are not in Russian, I also work on them, but it's a very large docume

[2019-05-16 14:42] ChrisChinchilla commented on #41
Thanks @random-char we think the best approach is if you go to the article, click 'update' you'll get the markdown source. Then create a branch or fork of this repo, add your translation there and make a PR.

We have some Russian speakers at ConsenSys who I'll ask to check things over, and then we'll publish the final translation under your name.

Any questions let me or the author @wilbarnes know

[2019-05-16 19:19] aerophile commented on #39
@ChrisChinchilla I got some emails from gitcoin about the issue is expiring. Just wanted to let you know so that a suitable action can be taken ( maybe an extension ?)

[2019-05-17 06:04] #39 closed

[2019-05-17 06:04] nanspro commented on #39
@ChrisChinchilla  i think you miscalculated 2/3 *5.25 = 3.5 so the payouts should've been 3.5 and 1.75 :)
@aerophile  can we mutually fix this ?

[2019-05-17 06:05] nanspro commented on #39
Also me and @owans  worked on this together so we'll also have to divide the share, could you tell your address @owans ?

[2019-05-17 06:10] ChrisChinchilla commented on #39
@nanspro Yes I picked your work on https://github.com/plasma-group/pigi/issues/42 and another contributor for the other 2 tasks. Sorry, on reflection, splitting all these issues into one bounty has been super confusing. Merging the various contributions will also mean a lot of cherrypicking.

There will be more bounties to follow

[2019-05-17 09:54] owans commented on #39
0xF1e2979FE88C01D1097e8CE2D17ba9C623737eA3

On Fri, May 17, 2019, 7:05 AM Rahul Bishnoi <notifications@github.com>
wrote:

[2019-05-17 11:27] dodikk commented on #42
@ChrisChinchilla , I've tranlated a couple "chapters", so you can have a preview earlier if you want.
https://github.com/dodikk/kauri-io-Content/blob/gitcoin/translate/ru/dodikk/2019-05-16-remix-article/remix-ide-your-first-smart-contract/ru-remix-ide-your-first-smart-contract.md

[code]

P.S. git turns out to have a cool side effect to higlight the "original vs. translation" in its diffs. You mig

[2019-05-17 11:28] dodikk commented on #42
`FYI` : I guess, I have found a typo in the original article
I've fixed it in my PR https://github.com/dodikk/kauri-io-Content/commit/baf3c736718a3f4d63a697c981b4030acfbafc98

Still, I am not sure how to apply it to the original article afterwards.

/cc @ChrisChinchilla

[2019-05-17 11:39] dodikk commented on #42
@ChrisChinchilla , I've also discovered that [markdown-link-check](https://www.npmjs.com/package/markdown-link-check) tool seems to report a couple of links as "broken" in the original article. However, I can open them in the browser just fine which is strange.

[code]

### Do you use any link checker tool for kauri articles markdown content? Which is a preferred one? Which one has been used to ch

[2019-05-17 16:46] aerophile commented on #39
Yes we can, what's your address ?

[2019-05-17 16:47] nanspro commented on #39
0x66b9BD3a9F0d44121533F88C94D4e35213222917

[2019-05-17 16:47] nanspro commented on #39
Thanks a lot mate 😄

[2019-05-17 17:58] aerophile commented on #39
Sent. tx hash is 0x6fa57627e689443509108aa302247ba398427da981118c24a11bfd2b042f372a  . Please share with @owans as well.

[2019-05-17 18:07] nanspro commented on #39
@owans  done!!

[2019-05-17 18:10] owans commented on #39
Received. Thanks guys

On Fri, May 17, 2019 at 7:07 PM Rahul Bishnoi <notifications@github.com>
wrote:

[2019-05-17 20:28] dodikk commented on #42
Seems like this screenshot is out of the context in the original article.
It would be nice if the author had a right one.
I won't be changing it yet as I migh be misunderstanding the idea.

[2019-05-18 13:43] dodikk commented on #42
I've finished translating the article. Here is my Pull Request - https://github.com/kauri-io/Content/pull/44
For some reason I can't submit the work through `gitcoin` as some ether is required and I have none yet.
I have not yet received any ether from the `gitcoin faucet` (applied for it recently).

[2019-05-18 16:16] joshorig commented on #42
HI,

Good spot, actually the wrong image was uploaded here, I have updated the
original on Kauri:

https://kauri.io/article/124b7db1d0cf4f47b414f8b13c9d66e2/v9/remix-ide-your-first-smart-contract

https://api.kauri.io:443/ipfs/QmQ1JYgeqgViBNxcSajU1NMh41v2UD2UFtYcdodDMv63zR

*Joshua Cassidy  *| KeyMaker @ Kauri.io <https://kauri.io/>

On Fri, 17 May 2019 at 21:28, Oleksandr Dodatko <notifications@g

[2019-05-18 16:43] dodikk commented on #42
original on Kauri:

Thank you, Joshua @joshorig . I have updated the corresponding links in my Pull Request.
/cc @ChrisChinchilla

P.S. @joshorig , please also take a look at small fixes of typos in the `en-remix-ide-your-first-smart-contract.md` file. I guess, the easiest way would be clonning my repo and running a `git log en-remix-ide-your-first-smart-contract.md` command.
https://github.com/do

[2019-05-18 16:45] dodikk commented on #42
I've solved this placing the links in the bottom of the document in an "academical manner".
In this case the nodejs markdown parser does not treat a `)` branket as part of the URL

[code]

[2019-05-18 17:42] joshorig commented on #42
Thank you @dodikk have reviewed the small fixes and they all look good.
The only missing part is to add the updated image in your
`en-remix-ide-your-first-smart-contract.md` file.

There is a place holder of ![](0xD961220f3C356Bee7E7905377fE9Da95DE6F978E)
which should be changed to ![](
https://api.kauri.io:443/ipfs/QmQ1JYgeqgViBNxcSajU1NMh41v2UD2UFtYcdodDMv63zR
)

Thanks for the review! Once the

[2019-05-20 15:14] ChrisChinchilla commented on #42
Thanks @dodikk I'm just going to get a Russian speaking colleague to take a read and give any feedback and will then let you know asap.

[2019-05-20 15:18] ChrisChinchilla commented on #41
Fantastic @random-char I will now get someone to read over and get back to you asap.

[2019-05-20 15:32] dodikk commented on #42
@ChrisChinchilla , nice. Thank you for the update.

[2019-05-22 08:25] ChrisChinchilla commented on #31
How is progress going @ramyzhang ? As you can see a few other people happy to take over if you're too busy?

[2019-05-30 20:37] PixelantDesign commented on #31
@ChrisChinchilla you have 5 applicants ^^

[2019-05-31 06:58] ChrisChinchilla commented on #31
Thanks @PixelantDesign this issue is reserved for one person who has it in progress, not sure why people keep applying :/

[2019-05-31 07:09] ChrisChinchilla commented on #41
OK @random-char this is now approved, so next steps. Please go to kauri.io, create an account and post. If you have any issues let me know, I'll then add it to the appropriate collections.

[2019-05-31 07:11] ChrisChinchilla commented on #42
OK @dodikk  this is now approved, so next steps. Please go to kauri.io, create an account and post. If you have any issues let me know, I'll then add it to the appropriate collections.

[2019-05-31 07:29] ChrisChinchilla opened #45 "Convert FullStack series to use Vyper"
We currently have this series - https://kauri.io/collection/5b8e401ee727370001c942e3

And we would like someone to convert certain posts to use Vyper code instead of Solidity. This may mean just swapping out code examples and changing a little explanation, or it may require some significant rewriting to explain different concepts, we leave that up to your judgement.

Here are the specific posts.

[2019-05-31 09:11] random-char commented on #41
@ChrisChinchilla, done c:
https://kauri.io/article/ad4ff9164fc04320a55de6d774d300e0/v1/ethereum-101-chast-1-chto-takoe-ethereum

[2019-05-31 12:02] dodikk commented on #42
@ChrisChinchilla , thanks for having finished the review.
Here is the posted ru article https://kauri.io/article/ac1bde5c6c5f48b786e1e17909da095a/v1/sreda-razrabotki-remix-sozdajte-svoj-pervyj-smart-contract

[2019-05-31 12:03] dodikk commented on #42
Could you please drop a comment with a link to those collections when you do so. I'm curious how my work would look like as part of a bigger picture.
Thanks.

[2019-05-31 12:05] dodikk commented on #42
@ChrisChinchilla I guess you can merge my PR https://github.com/kauri-io/Content/pull/44 as long as you are happy with the translation and we have it posted on kauri. Does it make sense?

[2019-05-31 13:24] dodikk commented on #7
@ChrisChinchilla , have you closed this because the article is already available? If so, could you please help me to find it as kauri search has failed to do so.

If this is closed because #9 article is planned to cover this topic but is not yet available - please confirm that explicitly. Thanks.

[2019-05-31 13:25] dodikk commented on #3
@ChrisChinchilla , have you closed this because the article is already available? If so, could you please help me to find it as kauri search has failed to do so.

If this is closed because #9 article is planned to cover this topic but is not yet available - please confirm that explicitly. Thanks.

[2019-05-31 16:37] #41 closed

[2019-05-31 16:40] ChrisChinchilla commented on #42
@dodikk Yeah, thanks for that. For now we're going to add the transactions to the original collections, but in the long run we're going to have a proper translation view, these two posts were something of an experiment to see if there's demand before we spend that development time :)

[2019-05-31 16:40] #42 closed

[2019-06-04 04:34] ChrisChinchilla commented on #45
@iamonuwa I like your profile and experience, so please start. But please note the description. This isn't just changing code, but also the explanation around the code. Any other questions let me know.

Best approach from here is to open the posts on Kauri, click "update article" and you get the markdown content. Then you can create files with that content and create a PR in this repo with your wo

[2019-06-04 06:54] iamonuwa commented on #45
Understood. Commencing work immediately.

[2019-06-06 22:20] iamonuwa commented on #45
@ChrisChinchilla I've started working on those, most of them are in my draft. Can I use write another tutorial to replace the bounty code?

[2019-06-07 08:01] ChrisChinchilla commented on #45
Sorry @iamonuwa I'm not sure if I understand the question.

[2019-06-07 08:11] iamonuwa commented on #45
I am currently updating a tutorial that has bounties contract. Can I change it to auction contract instead?

[2019-06-07 08:16] joshorig commented on #45
Hi @iamonuwa <https://github.com/iamonuwa> for continuity I think it would
be interesting for users to see the difference in language for the same set
of contracts.

Happy for you to propose some additional changes to the bounties contract
to highlight more things or include further use cases/options

I do like the idea of an auction contract, maybe we could save that for a
separate bounty and als

[2019-06-07 08:47] iamonuwa commented on #45
Alright, I'll work with that then

[2019-06-10 11:30] aahutsal commented on #31
@ChrisChinchilla have that person completed the issue as Gitcoin shows it's expired.

[2019-06-12 13:29] #22 closed

[2019-06-12 13:30] #30 closed

[2019-06-13 20:02] iamonuwa commented on #45
@ChrisChinchilla can I share some of my updates for you to review while I work on the remaining?

[2019-06-14 09:08] ChrisChinchilla commented on #45
@iamonuwa Please do! Just create a PR, and I can start reviewing content as you post it.

[2019-06-17 09:55] ChrisChinchilla opened #46 "Create post on bonding curves"
Create post on bonding curves

[2019-06-17 10:04] ChrisChinchilla opened #47 "Create a techncial overview of EIP 777"
EIP 777 is now approved, so we'd like to have a good technical overview of what that token standard defines, why it is useful and some code examples on how to implement it.

## deliverables

1. An outline
2. A final article based on that outline

[2019-06-18 05:43] DAppProletariat commented on #47
**ERC-777 and ERC-820: A love story**

1. An overview of token standards
2. An overview of ERC-20 and its strengths/ weaknesses
3. The efforts of ERC-223
4. An introduction to ERC-777

    i. From transfer (to, amount) to send (to, amount, data)
    ii. From approve () to operators ()
    iii. Notifications
    iv.	ERC-820

5.	The ERC-777 code and explanation
6.	A use case – buying a Crypto Kittie

[2019-06-18 07:39] ChrisChinchilla commented on #47
OK…

No need for the first point as we already have a collection for that we can just link to instead.

On the second point, again, we have other content covering ERC-20, so just focus on the strengths and weaknesses.

I am guessing ERC-223 is now superseded, there doesn't seem to be a clear answer there, but I guess we can assume.

And the rest is code, make sure we have some code and practical s

[2019-06-18 07:46] #9 closed

[2019-06-18 07:47] #38 closed

[2019-06-18 07:54] ChrisChinchilla opened #48 "Create an overview of Loom's implementation of Plasma cash"
Create an overview of the Loom plasma cash implementation. Explain how it implements the plasma spec, and how it compares to other implementations. Make sure the post shows readers how to install, run, and some basic first steps.

[2019-06-18 08:25] cspannos commented on #48
@ChrisChinchilla Good. Will move forward on this basis. Will post the outline shortly.

[2019-06-18 22:58] cspannos commented on #48
Hi @ChrisChinchilla, Here is a draft outline. Any input is greatly appreciated. Many thanks!

# Outline

- Introduce Loom Network's implementation of Plasma Cash (ERC721/ERC20/ETH compatible, etc.);

- Review how Sparse Merkle Trees improve the Plasma specification;

- Overview the flow:
	- exclusion proofs;
	- exits;
	- challenges;

- Provide overview of how to install Loom's Plasma-CLI;

- Show

[2019-06-19 02:06] calchulus commented on #46
applied, thanks!

On Tue, Jun 18, 2019 at 12:24 AM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-06-19 21:09] DAppProletariat commented on #47
Sounds good.

I'll link to our previous essays on token standards.

I'll discuss ERC-20 in the context of ERC-777 (Strengths/ Weaknesses)

I will very briefly mention ERC-223 (1-2 sentences) and we can see how that fits in into the overall theme of the draft and remove it if unnecessary.

I'll make sure to incorporate the code and elaborate on it. I'll also start looking around for examples.

Are

[2019-06-20 06:47] ChrisChinchilla commented on #47
@DAppProletariat Sure! If that's what works best for you.

[2019-06-25 08:55] #46 closed

[2019-06-25 09:57] ChrisChinchilla opened #50 "Deploying Full stack Dapp to Heroku"
We have an existing tutorial collection that takes new web3 developers from beginning steps to a functioning full stack web3 dapp.

https://kauri.io/collection/5b8e401ee727370001c942e3

We want to add a new tutorial to this collection to show the steps to deploy application side of the dapp to heroku. Where the smart contract is deployed is up to you, maybe a test net, maybe Infura, but they front

[2019-06-25 11:50] ChrisChinchilla opened #51 "Deploying Full stack Dapp to AWS"
We have an existing tutorial collection that takes new web3 developers from beginning steps to a functioning full stack web3 dapp.

https://kauri.io/collection/5b8e401ee727370001c942e3

We want to add a new tutorial to this collection to show the steps to deploy application side of the dapp to AWS. In this particular case, also show the reader how to deploy their smart contract to running on an AW

[2019-06-25 11:54] ChrisChinchilla opened #52 "Deploying Full stack Dapp to Google Cloud"
We have an existing tutorial collection that takes new web3 developers from beginning steps to a functioning full stack web3 dapp.

https://kauri.io/collection/5b8e401ee727370001c942e3

We want to add a new tutorial to this collection to show the steps to deploy application side of the dapp to Google cloud. Where the smart contract is deployed is up to you, maybe a test net, maybe Infura, but they

[2019-06-25 11:57] ChrisChinchilla opened #53 "Deploying Full stack Dapp to Azure"
We have an existing tutorial collection that takes new web3 developers from beginning steps to a functioning full stack web3 dapp.

https://kauri.io/collection/5b8e401ee727370001c942e3

We want to add a new tutorial to this collection to show the steps to deploy application side of the dapp to Azure. In this particular case, also show the reader how to deploy their smart contract to running on an

[2019-06-25 13:32] ChrisChinchilla opened #54 "Convert workshop on NFTs to article series"

[2019-06-26 18:59] jakerockland commented on #45
@iamonuwa Are you still working on this? If so, @ChrisChinchilla is something you want multiple peopl to work on simultaenously?

I've been a contributor to Vyper + done Solidty -> Vyper conversions for the Vyper docs previously (blind auction example) and would enjoy contributing to this if you guys want to split up the bounty @iamonuwa @ChrisChinchilla?

[2019-06-26 20:41] iamonuwa commented on #45
Apologises for the delay. Yes am still working on it. You'll have it before end of this week

[2019-06-26 21:42] mayorcoded commented on #50
I am interested in working on this issue as I recently deployed a dapp on Heroku some days ago. Please let me know the modalities around working on this issue.

[2019-06-27 20:45] iamonuwa commented on #45
@ChrisChinchilla I have the articles 4/5 ready and have submitted for updates. Do you need me to submit the markdown? Am working on the last article at the moment, and you'll have it before end of tomorrow. Once again, am really sorry for the delay.

[2019-06-28 13:11] ChrisChinchilla commented on #45
@iamonuwa Yup, please make a PR with your progress and the markdown files whenever you are ready. I can start reviewing the ones that are already finished :)

[2019-06-28 15:19] iamonuwa commented on #45
Cool, I'll send in a PR in a bit

[2019-06-28 15:38] iamonuwa commented on #45
@ChrisChinchilla this is the vyper version of the bounties for the articles https://github.com/iamonuwa/Bounties

[2019-06-29 13:33] acolytec3 commented on #54
Is this still open? If so, what workshop do you have in mind?

[2019-06-29 19:11] srisankethu commented on #53
Started a [WIP PR](https://github.com/kauri-io/Content/pull/58/). Will update it and notify once done :+1: @ChrisChinchilla

[2019-06-30 13:29] srisankethu commented on #53
@ChrisChinchilla I have updated my [PR](https://github.com/kauri-io/Content/pull/58/). Please review. Thanks!

[2019-07-02 11:43] mayorcoded commented on #40
Yes, I am still working on the Issue. At the moment, I am working on 'Research into the execution model of the Ethereum Virtual Machine (EVM) with a focus on its description in the Yellow Paper.'.

[2019-07-06 10:19] srisankethu commented on #53
@ChrisChinchilla Reminder! Please review my PR. Thanks!

[2019-07-16 08:24] ChrisChinchilla commented on #45
@iamonuwa Sorry, I was on holiday, will get to this later in the week!

[2019-07-16 09:04] ChrisChinchilla commented on #51
Sorry, everyone, I was on holiday for 2 weeks! @mul1sh if you are still interested, then I'd love to have you on-board, please re-apply. Note that this is a follow up post to the existing collection (https://kauri.io/collection/5b8e401ee727370001c942e3), as stated in the description.

[2019-07-16 09:35] mul1sh commented on #51
@ChrisChinchilla sure no worries, I understand, let me apply now and sort this issue in the next few days then 😃

[2019-07-16 09:39] ChrisChinchilla commented on #40
Sorry @mayorcoded The GitCoin bot is a bit overly keen. Just keep me up to date on progress.

[2019-07-16 09:49] iamonuwa commented on #45
Thanks for reaching out. I'll add the last content (Unit test) before the end of tomorrow

[2019-07-21 11:17] mul1sh commented on #51
@ChrisChinchilla just a heads up, I already applied again and ready to start working, kindly check. Thanks 🙂

[2019-07-28 16:28] mul1sh commented on #51
@gitcoinbot  on it don't worry will submit it tomorrow 🙂

[2019-08-03 15:19] iamonuwa commented on #45
@ChrisChinchilla I've updated the last PR. Ready for review

[2019-08-03 16:16] mul1sh commented on #51
Hey @gitcoinbot  please stop spamming this issue, I'm already working on a PR 😅

[2019-08-06 12:15] mul1sh commented on #51
@ChrisChinchilla nearly done with this, just a final question, should I explain how to deploy/create an aws blockchain instance as well as  explaining how to deploy a fullstack dApp in the running blockchain instance?

[2019-08-09 08:04] ChrisChinchilla commented on #51
Yeah sorry @mul1sh I've mentioned that enthusiastic bot to the team a few times 😆 .

I feel like getting an instance running is a pretty essential part of the process if AWS doesn't make it too complex, which they often do :/

[2019-08-10 15:45] mul1sh commented on #51
@ChrisChinchilla true 😅.

Also actually come to think of it, I don't think it's possible to deploy an ethereum app to an AWS managed blockchain instance because they have not [released the ethereum service](https://aws.amazon.com/managed-blockchain/) yet. Currently they only support IBM's hyperledger fabric.

Just realised this now which means what I've been documenting I.e. deploying a dApp to an

[2019-08-10 17:43] DAppProletariat commented on #47
@ChrisChinchilla Here is a draft of the essay so far, let me know what you think of it, and I'll work on wrapping it up.

# ERC-20 and its Discontents: The Rise of Comrades ERC-777 & ERC-1820

## Token standard, ERC-20, and problems
Token standards help smart contracts navigate through their interaction with tokens. The most well-known Ethereum Request for Comment (ERC) is the ERC-20, which has be

[2019-08-13 11:50] #31 closed

[2019-08-13 11:51] #54 closed

[2019-08-13 12:24] ChrisChinchilla commented on #40
How are things going @mayorcoded ?

[2019-08-13 12:25] ChrisChinchilla commented on #47
Looks like a great start @DAppProletariat please get this into a proper pull request and we can start working on a review asap.

[2019-08-13 13:37] ChrisChinchilla commented on #51
So… @mul1sh

We've decided to keep this going with a different approach, let me know if you're still keen.

Front end - deploy to EC2 / S3 / Lamda (whatever you prefer)
Ethereum instance - use Kaleido and update Truffle config to use it.

If you're not I'll put the bounty up for grabs again.

[2019-08-13 13:40] mul1sh commented on #51
@ChrisChinchilla  sounds great to me, let me continue working on it then, thanks for alerting me 😃

[2019-08-13 13:42] ChrisChinchilla commented on #51
Excellent :)

[2019-08-13 18:28] mayorcoded commented on #40
Hi, @ChrisChinchilla I will be done with the two articles by month-end. Thanks for your patience.

[2019-08-14 13:51] ChrisChinchilla commented on #50
Welcome on board @crawfordleeds please create a branch, work in that and then send a PR. I'll then review and work with you on your submission. Any questions, let me know.

[2019-08-14 21:24] ghost commented on #50
Thanks, @ChrisChinchilla I'll be getting started shortly. Look forward to working with you.

[2019-08-14 23:38] ghost commented on #50
Hey, @ChrisChinchilla, I just went through the existing tutorial series and was hoping to ask some clarifying questions to make sure I get the scope and deliverables right:

1. May I confirm that the intent of this project is just to provide a tutorial for deploying the react application created in the tutorial [Truffle: Adding a frontend with react box](https://kauri.io/article/86903f66d39d4379a2

[2019-08-15 11:13] ChrisChinchilla commented on #50
@crawfordleeds
1. Yup, in this case, as Heroku doesn't let you host any of the smart contract side. Basically this tutorial is to show people how to deploy the front end side of things somewhere, using Truffle, updating any config etc.
2. The code for this series lives here - https://github.com/kauri-io/kauri-fullstack-dapp-tutorial-series so make a PR/branch to that for anything you need.

[2019-08-15 18:29] ghost commented on #50
Thanks, @ChrisChinchilla. That brings up one more question, but I'll add it to my WIP PR (#70) for clarity.

[2019-08-18 03:08] srisankethu commented on #53
@ChrisChinchilla Published an article: https://kauri.io/article/d37518870cba4caeab6a95624254a6b8/v1/deploying-a-full-stack-dapp-to-microsoft-azure

[2019-08-18 14:04] DAppProletariat commented on #47
@ChrisChinchilla Sounds good, should I branch off?

[2019-08-20 09:25] #53 closed

[2019-08-20 09:44] ChrisChinchilla commented on #47
@DAppProletariat Yes please!

[2019-08-28 01:41] pbteja1998 commented on #51
@ChrisChinchilla is this bounty available? I like to work on this if it is available. Thanks.

[2019-08-29 13:04] ChrisChinchilla opened #81 "Sending transactions with Rust"

[2019-09-02 12:52] mul1sh commented on #51
@ChrisChinchilla the PR for this is now ready. Apologies for the delay in completing it, its because I had to do a lot of deployment testing in kaleido whilst writing the article because it's not as straightforward as other RPC services i.e. infura

Anyway looking forward to your feedback and also kindly approve me to this issue again so that i may be able to submit my work. Thanks again for the p

[2019-09-09 07:36] #51 closed

[2019-09-09 08:00] mul1sh commented on #51
@ChrisChinchilla also kindly approve me on gitcoin so that I can be able to submit the PR for you to mark it as done their, thanks.

[2019-09-11 07:35] ChrisChinchilla opened #84 "Web3j Transaction Managers"

[2019-09-17 12:08] akersof commented on #52
@ChrisChinchilla As the tutorial should be focused on google deployment, but for deploying on the cloud we need a little app, i can make a little UI with react linked to a smart contract deployed on a testnet, ideally as you wrote i would start the tutorial with a prerequisite based on previous tutorials you made like the remix one and "the adding a frontend with reactbox one".
It will involve 1 f

[2019-09-23 06:49] ChrisChinchilla commented on #52
@MRdavey welcome on board, please make a branch of the main repo and then create a PR from there

[2019-09-23 06:51] ChrisChinchilla opened #85 "Overview of major consensus algorithms and which Blockchains use them"
This article (or 2-part article) intends to give an overview of the major consensus algorithms, what uses them, why they use them and what benefits/problems they have.

First should open with a brief overview of consensus algorithms prior to Blockchain implemented ones, such as:

- Paxos
- Raft

Then let's cover some of the most common/popular Blockchain algorithms, and mention which Blockchain pr

[2019-09-23 14:14] #45 closed

[2019-09-23 14:14] #50 closed

[2019-09-23 14:14] #84 closed

[2019-09-24 08:23] mrdavey commented on #52
OK done @ChrisChinchilla . See #86 😇

[2019-09-25 00:58] pbteja1998 commented on #85
@ChrisChinchilla Any update on this?

[2019-09-26 16:03] ChrisChinchilla commented on #85
Welcome on board @bshevchenko Please start work in a new branch before making a PR. Probably a good idea to start with a rough outline first.

[2019-09-26 16:25] bshevchenko commented on #85
Hey @ChrisChinchilla
Thank you!
All right. How deeply do you want me to cover these topics?

[2019-10-01 13:51] ChrisChinchilla commented on #85
@bshevchenko At least an explanation of how the consensus algorithm works, and who uses it. If you can add algorithms or code that would be great. As i say this is a technical audience, so the level of detail that would make a developer satisfied. Does that help?

You can always add one first into the PR before doing all so we can check the level is correct.

[2019-10-01 14:09] bshevchenko commented on #85
@ChrisChinchilla I stopped work, because I couldn’t get answer from you for a long time. But I can continue if we can clarify issue shortly

https://medium.com/fantomfoundation/an-introduction-to-dags-and-how-they-differ-from-blockchains-a6f703462090
This article, for example, covers only Directed Acyclic Graph. So given that article, could you say what aspects of the algorithms do you wanna have

[2019-10-01 14:53] ChrisChinchilla commented on #85
@bshevchenko it was only last week… :)

I would say something like the first paragraph or two for each algorithm would be useful and enough.

[2019-10-03 09:43] #52 closed

[2019-10-13 16:53] Solexplorer commented on #85
@ChrisChinchilla Is this bounty locked or can I work on it ?

[2019-10-14 01:44] ChrisChinchilla commented on #85
@bshevchenko  Do you want to work on this bounty? We'd like to this underway, and others are asking.

[2019-10-14 06:20] bshevchenko commented on #85
@ChrisChinchilla applied one more time. Can finish in a few days this week

[2019-10-14 06:24] ChrisChinchilla commented on #85
@bshevchenko You were already approved (see above), I had just heard nothing from you after my last comment.

[2019-10-14 06:42] bshevchenko commented on #85
@ChrisChinchilla all right! It’s just that two those paragraphs in the article that I sent are not even talking about acyclic graphs yet, they are talking about cyclic, which is the necessary introduction for acyclic structure.
Ok, I’ll just compress it as much as possible.

[2019-10-16 13:52] bshevchenko commented on #85
@ChrisChinchilla in the middle of my research for this article right now. Could you please elaborate on "(Practical) Byzantine Fault Tolerance" point? What do you mean by "Practical"? BFT is the necessary condition for these algorithms

[2019-10-22 12:35] ChrisChinchilla commented on #85
@bshevchenko https://github.com/kauri-io/Content/issues/85#issuecomment-542711745

There are two different consensus algorithms "Byzantine Fault Tolerance" and "Practical Byzantine Fault Tolerance".

[2019-10-22 12:53] bshevchenko commented on #85
I’m sorry but I don’t see a way how to put so many things in just one article (even 2-part). And you answer so rarely. Removing myself from this one

[2019-10-24 12:05] ChrisChinchilla commented on #85
@prorokeskobar1 things with the last writer didn't quite work out, if you're still interested I'd still like this fulfilled. I'll look into increasing the bounty amount too.

[2019-10-31 12:34] #81 closed

[2019-10-31 12:34] #47 closed

[2019-10-31 12:34] ChrisChinchilla commented on #40
How's things going @mayorcoded ?

[2019-10-31 12:41] ChrisChinchilla opened #87 "A tutorial on how to create a MetaMask plugin"
The new [Metamask plugin API](https://github.com/MetaMask/metamask-plugin-beta/wiki) is in beta, but we would like a tutorial created that shows the reader how to build a reasonably meaningful plugin for Metamask.

## Deliverables
- An outline before you start work on the article
- A final article
- Article posted to Kauri.io with images and tags
- A code repo for the example used in the article

[2019-10-31 13:01] ChrisChinchilla opened #89 "A tutorial on how to create an application using 3Box chatbox plugin"
In the first of a series of tutorials we would like a post with a meaningful example on how to create an application that uses the [3box chatbox plugin](https://docs.3box.io/build/plugins/chatbox). This may require some initial explanation of 3box, how it works and some basic examples.

## Deliverables

- An outline before you start work on the article
- A final article
- Article posted to Kauri.i

[2019-11-01 19:14] janus commented on #87
@ChrisChinchilla
Is this still open?

[2019-11-01 20:55] sazeleo commented on #87
@ChrisChinchilla on further reading!

Here is my revised work plan:

1. Describe about the implementation of plugin, and its new features through a use case.
2. Run the reader through a development setup. (Using images, and tags)
3. Provide my own idea, and POC for implementation of Plugin.
4. Revise it!

I strongly believe in the sequence of:
Product -> Users -> Developer Community

Which Metamas

[2019-11-04 11:40] ChrisChinchilla commented on #87
Welcome on board @thesachinmittal Please supply an outline (in a PR) first and then we'll take things from there.

[2019-11-04 11:48] ChrisChinchilla commented on #89
Welcome onboard @writeprovidence let's begin with an outline as a PR and take things from there.

[2019-11-04 12:07] writeprovidence commented on #89
@ChrisChinchilla great, will come up with an outline soon

[2019-11-04 13:42] ChrisChinchilla opened #91 "Creating a fullstack dapp with web3.py"
This article (that may end up split into 2) should cover how to create a dapp that interacts with the Ethereum blockchain via Python and web3.py. We can assume that the reader knows what Ethereum is and the concepts of connecting to a network. The article should take the reader from installing, to adding to a project, to creating a real world dapp.

## Deliverables

- An outline before you start w

[2019-11-04 13:54] ChrisChinchilla opened #92 "Integrating Alethio"
## Deliverables

- An outline before you start work on the article
- A final article
- Article posted to Kauri.io with images and tags
- A code repo for the example used in the article

## Guidelines

- We have a technical audience, you can go into details.
- Use simple technical English and as little passive voice and future tense as possible.
- Word count is not a definition of done, covering th

[2019-11-07 14:39] writeprovidence commented on #89
@ChrisChinchilla  An Outline on the article, please take a look.

1). An overview of 3box chatbox plugin
2). Introduction to 3Box chatbox plugin
3). Use cases of 3Box chatbox plugin
4). How 3box chatbox works
    (i) example of 3box chatbox plugin
5). How to build a 3box chatbox plugin.

[2019-11-08 13:03] sazeleo commented on #87
I have already submitted the PR, as asked! @ChrisChinchilla
Please review!

[2019-11-08 14:00] ChrisChinchilla commented on #91
Welcome on board @jacekv let's start with an outline and then take things from there.

[2019-11-08 14:14] jacekv commented on #91
Hi @ChrisChinchilla :) Alright, should I post the outline here?

[2019-11-08 14:44] ChrisChinchilla commented on #89
Thanks @writeprovidence could you add this as a PR so we can discuss a bit more, also the outline needs a little bit more detail.

[2019-11-08 15:34] writeprovidence commented on #89
@ChrisChinchilla , okay will do that.

[2019-11-11 08:40] ChrisChinchilla commented on #91
@jacekv yes as a PR please

[2019-11-11 08:49] #85 closed

[2019-11-11 08:51] ChrisChinchilla opened #95 "Overview of major consensus algorithms and which Blockchains use them"
This article (or 2-part article) intends to give an overview of the major consensus algorithms, what uses them, why they use them and what benefits/problems they have.

First should open with a brief overview of consensus algorithms prior to Blockchain implemented ones, such as:

- Paxos
- Raft

Then let's cover some of the most common/popular Blockchain algorithms, and mention which Blockchain pr

[2019-11-11 10:41] jacekv commented on #91
@ChrisChinchilla You should have gotten an invitation for a PR

[2019-11-14 08:00] ChrisChinchilla opened #101 "A tutorial on how to create an application using 3Box profile hover plugin"
In the first of a series of tutorials we would like a post with a meaningful example on how to create an application that uses the [3box profile hover plugin](https://docs.3box.io/build/plugins/profile-hover). This may require some initial explanation of 3box, how it works and some basic examples.

**Please read the deliverables and guidelines, failure to follow them, may result in removal from th

[2019-11-14 08:01] ChrisChinchilla opened #102 "A tutorial on how to create an application using 3Box comments plugin"
In the first of a series of tutorials we would like a post with a meaningful example on how to create an application that uses the [3box comments plugin](https://docs.3box.io/build/plugins/comments). This may require some initial explanation of 3box, how it works and some basic examples.

**Please read the deliverables and guidelines, failure to follow them, may result in removal from the bounty**

[2019-11-14 13:05] ChrisChinchilla commented on #91
Really sorry @jacekv I hope you have't done too much work, but we have to cancel this bounty

[2019-11-15 12:07] sazeleo commented on #87
I  have updated the PR, please review! And to speed up its completion. I would like to know the ETA for this.

[2019-11-21 01:34] jeevanpillay0000 commented on #101
Hi, is there someone already assigned to this issue? If there isn't, I would be more than happy to work on it, along with the issue/101. Do let me know.

A little context about myself, I have written several articles that have been published through reputable publishers on Medium like ALTCoin Magazine and Data Driven Investor. So, I believe that I will be fit for the task and be able to produce qu

[2019-11-24 12:53] sazeleo commented on #87
I will submit it within next two days.

[2019-11-26 12:36] ChrisChinchilla commented on #101
@lpfloyd Can you please apply though Gitcoin, the link is in - https://github.com/kauri-io/Content/issues/101#issuecomment-553772609

[2019-12-02 10:53] ChrisChinchilla commented on #102
@kfichter welcome on board, please start by submitting an outline that will help us in later stages of writing, and be sure to check the style guidelines above. Thanks!

[2019-12-06 19:29] smartcontracts commented on #102
Hello! My apologies - I haven't been getting notifications from GitCoin recently. I'll get started on this right away.

[2019-12-09 10:26] ChrisChinchilla commented on #87
@thesachinmittal How is this going?

[2019-12-10 17:27] sazeleo commented on #87
Done with the final draft will be sending you to review and finalise.

[2019-12-13 01:49] smartcontracts commented on #102
Hello! I'm about 75% done with an edited/revised first draft. Will make a PR tomorrow.

[2019-12-20 18:22] smartcontracts commented on #102
@gitcoinbot I'm actually still waiting on review of my draft for this tutorial over at #114. Hoping to get the Kauri article published as soon as that's done. Thanks!

[2019-12-26 20:13] sazeleo commented on #87
https://github.com/kauri-io/Content/pull/117

Please review and suggest changes.

[2020-01-02 10:13] ChrisChinchilla commented on #101
Welcome on board @solexplorer ! Please read the guidelines at the top of this issue before you submit and I look forward to seeing your work.

[2020-01-24 14:40] adrianhacker-pdx commented on #40
Hello,

I was searching Gitcoin bounties that had work started but never got completed.  I have completed one of the two requested EVM Internals Series Installments:  Execution Model of the EVM.  I have attached the .txt file here and am creating a new pull request:  https://github.com/kauri-io/Content/pull/123

The original Gitcoin Bounty:  https://gitcoin.co/issue/kauri-io/Content/40/3180

My pr

[2020-01-28 03:47] sazeleo commented on #87
I agree with the suggested changes, let's get this posted. :)

[2020-01-28 13:51] ChrisChinchilla commented on #87
OK, final step @thesachinmittal is to create an account on kauri.io, and post the article with an image and tags etc. Then I'll get the bounty  paid out.

[2020-01-28 13:54] #101 closed

[2020-01-28 13:58] #89 closed

[2020-01-28 14:42] Solexplorer commented on #101
Hey @ChrisChinchilla

You tipped the wrong profile, fortunately I was able to recover thanks to the gitcoin team 😓

Can I know why this happened so I can open an issue there if that was a bug?

Thanks

[2020-01-28 15:11] ChrisChinchilla commented on #101
@Solexplorer your user name is solexplorer and I tipped solexplorer? So I'm a bit confused?

[2020-01-28 15:11] ChrisChinchilla commented on #101
But glad you sorted it…

[2020-01-28 15:38] Solexplorer commented on #101
Nope, you mistakenly tipped to soloexplorersolexplorer:
![image](https://user-images.githubusercontent.com/50027175/73278631-29f17a00-41ec-11ea-8137-05e371da8a87.png)

To recover the funds, I've created a GitHub account with that username to redeem the tip.

Anyway no problem 😃  I was just asking if it was a bug or you just wrote the username mistakenly

[2020-01-28 17:22] sazeleo commented on #87
I have posted the article on Kauri.
https://kauri.io/how-to-create-a-metamask-plugin/937a0e7fb83047f39ec6cba27e679f89/a

[2020-01-29 13:03] #87 closed

[2020-02-01 00:59] L-KH commented on #102
Please I want to know if this bounty is still available !? thank you.

[2020-02-03 11:53] ChrisChinchilla commented on #102
@L-KH As you can see above, someone is working on it

[2020-02-06 22:33] smartcontracts commented on #102
@ChrisChinchilla Heyo! Thanks for the tip :-) I couldn't accept it on Gitcoin for some reason, but not sure how that system works.

[2020-02-10 07:43] ChrisChinchilla commented on #102
@kfichter I have never used GitCoin as a worker, only as a funder. If you have an account there I hoped it should be pretty obvious how to get the funds. If not, the support team are very responsive and will help you.

[2020-02-10 07:43] #102 closed

[2020-02-10 13:57] smartcontracts commented on #102
Seems to be resolved now! Thank you!

[2020-02-14 14:26] adrianhacker-pdx commented on #40
@ChrisChinchilla I have completed this series, it can be viewed here:  https://kauri.io/a-deep-dive-into-the-ethereum-virtual-machine-evm/5e40dd7b26af2700016d5668/c  since the original person working on it abandoned it, would it be possible for me to collect the bounty by removing them and reserving it for me?   https://gitcoin.co/issue/kauri-io/Content/40/3180

[2020-02-19 08:40] #40 closed

[2020-10-08 04:37] pnpancholi commented on #52
Where can we see the published article?

[2020-10-08 07:42] gjeanmart commented on #52
https://kauri.io/deploying-a-fullstack-dapp-to-google-cloud/2ee06d313ffa41348f916afa13a78bbd/a